<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Records</title>
</head>
<body>
  <h1>Hottest 100 Database</h1>
  <% @years.each do |yr| %>
    <a href="/<%=yr%>"><%=yr%></a>
  <% end %>
</body>
</html>